.imgLeftText{
    padding-top: 10vh;
    padding-bottom: 2vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sckizzyLogo{
    height: 10vh;
    margin-right: 2vw;
    border-radius: 50% 50% 50% 50%;
}
